.App {
  text-align: left;
}

.App h1 {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  width: 80%;
  margin: 0 10%;
  display: block;
  align-items: left;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: #464646;
}

.App-link {
  color: #09d3ac;
}

.route-search,
.selected-route {
  font-size: 0.5em;
  position: relative;
}

.selected-route {
  float: left;
  width: 40%;
}

.route-search {
  float: right;
  width: 40%;
  margin: 0;
}

#RouteSearch {
  height: 2em;
  margin: 20px 0;
}

#RouteSearch::after {
  clear: both;
}

.selected-route p {
  float: left;
  width: 100%;
  margin: 5px 0 20px 0;
  padding: 0 0 10px 25px;
  font-size: 1.6em;
}

.selected-route button {
  float: right;
  width: 20%;
  margin: 0 20px 5px 0;
  padding: 8px 0;
  font-size: 1.2em;
}

.selected-route button:hover {
  background-color: #a8a8a8;
}

.selected-route::after {
  clear: both;
}

.route-search input {
  width: 100%;
  font-size: 1.5em;
  border-radius: 20px;
  border-color: #5a5a5a;
  padding-left: 1em;
}

.route-stops {
  width: 100%;
  height: 16em;
  margin: em 0;
}

.select-stop, .stop-predictions {
  width: 45%;
}

.select-stop {
  float: left;
}

.stop-predictions {
  float: right;
}

.route-stops ul {
  position: relative;
  font-size: .65em;
  margin: 0.5em 1em;
  padding: 0.5em 1em;
  height: 15em;
  overflow: scroll;
  width: 100%;
  border: 1px solid #a8a8a8;
}

.route-stops::after {
  clear: both;
}

.route-search-results {
  height: 10em;
  overflow: scroll;
  position: absolute;
  top: 30px;
  right: 0;
  margin: 0;
  padding: 0;
  width: 80%;
  z-index: 100;
  border: 2px solid #a8a8a8;
  box-shadow: darkgray 5px 5px 8px;
  opacity: 0.8;
  background-color: white;
  font-size: 1.5em;
}

.route-search-results ul {
  margin: 0;
  padding: 0 4px;
}

li.route-button,
.route-stops li {
  cursor: pointer;
  margin: 0;
  padding: 10px 0;
  list-style: none;
}

.even {
  background-color: white;
}

.odd {
  background-color: #f1f1f1;
}

.route-button:hover,
.route-stops li:hover {
  background-color: #cccccc;
}
